  <div class="row">
    <h1 class="show_headline">
      <%= @destination.name %>
    </h1>
  </div>
  <div class="row">

    <div class="col-lg-4">
      <h3 class="show_subheading">
        <strong>Region:</strong>
        <%= @destination.region %>
      </h3>

      <h3 class="show_subheading">
        <strong>Country:</strong>
        <%= @destination.country %>
      </h3>
      <%= link_to 'Add Review', new_destination_review_path(@destination, @review), class: "btn btn-small btn-primary dest_button" %><br><br>
      <%= link_to "Edit Destination", edit_destination_path(@destination), class: "btn btn-info btn-xs dest_button" %><br><br>
      <% if current_user.admin? %>
      <%= link_to 'Delete Destination', [@destination], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs dest_button" %><br><br>
      <% end %>
      <%= link_to "See all destinations", destinations_path, class: "btn btn-success btn-xs dest_button" %>
    </div>
  
    <div class="col-lg-4">
      <h3 class="show_subheading">Review</h3> 
      <% if @reviews.try(:any?) %>
      <% @reviews.take(1).each do |review| %>
     
        <h4 id="rating">Rating: <%= review.rating %></h4>
        <p id="reviewContent"><%= review.content %></p><br>

        <a href="#" class="js-next btn btn-primary btn-small" data-id="<%=review.id%>">Next Review</a><br><br>
        <% if review.user_id == current_user.id %>
        <%= link_to "Edit Review", edit_review_path(review), class: "btn btn-info btn-xs" %><br><br>
        <%= link_to 'Delete Review', destination_review_path(@destination, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %><br><br>
        <% end %> 
      <% end %>
      <% end %>
    </div>

    <div class="col-lg-4">
       <h3 class="show_subheading">Comments</h3>
     
      <%= render 'comments/comment' %>
       <h4 class="comment_form">Add a comment:</h4>
      <%= render 'comments/form' %>
      <%= link_to "Load Comments", destination_comments_path(@destination, @comments), class: "loadComments btn btn-info btn-xs" %>
     
      

    </div>
  </div>
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault()
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/reviews/" + nextId + ".json", function(data) {
      $("#rating").text("Rating: " + data["rating"]);
      $("#reviewContent").text(data["content"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });


$("a.loadComments").on("click", function(e){
 
  $.get(this.href).success(function(json){
    var $ol = $("div.commentDiv ol")
    $ol.html("") 
    json.forEach(function(comment) {
      $ol.append("<li>" + comment.user.name + ": <br>" + comment.content + "</li><br>");
    })
    })
    e.preventDefault();
  })
  }); 
</script>