<div class="container user_page">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "text_field" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, :class => "text_field" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", :class => "text_field" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-lg btn-info", id: "login" %>
  </div>
<% end %>

  <br>
  <br>
  <p>Are you a new user? Click below to create an account.<br>  
  <%= link_to 'Signup', new_user_registration_path, class: "btn btn-lg btn-success" %></p>
  <br>
  <p>Click here to login with your Facebook account.<br>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary", id: "facebook_login" %>
  </p>

</div>
