<%= form_for @destination do |f| %>

  <% if @destination.errors.any? %>
    <div id="error_explanation" class="fields_with_errors">
      <h3>
        <%= pluralize(@destination.errors.count, "error") %> prohibited
        this destination from being saved:
      </h3>
      <ul>
        <% @destination.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, :class => "text_field"  %><br><br>
  
  <%= f.label :region %>
  <%= f.text_field :region, :class => "text_field"  %><br><br>

  <%= f.label :country %>
  <%= f.text_field :country, :class => "text_field" %><br><br>

  <%= f.fields_for :reviews, @destination.reviews.build do |r| %>

    <%= r.label :rating %>
    <%= r.text_field :rating, class: "text_field" %><br><br>

    <%= r.label :content %><br>
    <%= r.text_area :content, class: "text_area" %><br><br>

  <div class="actions">
    <%= f.submit "Add New Destination", class: "btn btn-lg btn-primary" %>
  </div>
  <% end %>
<% end %>

