<%= form_for @destination do |f| %>

  <%= render 'shared/error_message', object: @destination %>

  <%= f.label :name %>
  <%= f.text_field :name, :class => "text_field"  %><br><br>
  
  <%= f.label :region %><br>  
    <%= f.radio_button :region, "North America" %>
    <%= f.label :region, "North America" %>

    <%= f.radio_button :region, "South America" %>
    <%= f.label :region, "South America" %>

    <%= f.radio_button :region, "Africa" %>
    <%= f.label :region, "Africa" %>

    <%= f.radio_button :region, "Europe" %>
    <%= f.label :region, "Europe" %>

    <%= f.radio_button :region, "Asia" %>
    <%= f.label :region, "Asia" %>

    <%= f.radio_button :region, "Australia" %>
    <%= f.label :region, "Australia" %>
    
  <br><br>
   
  <%= f.label :country %>
  <%= f.text_field :country, :class => "text_field" %><br><br>

  <%= f.fields_for :reviews, @destination.reviews.build do |r| %>

    <%= r.label :rating %><br>
      <%= r.radio_button :rating, 1 %>
      <%= r.label :rating, 1 %>

      <%= r.radio_button :rating, 2 %>
      <%= r.label :rating, 2 %>

      <%= r.radio_button :rating, 3 %>
      <%= r.label :rating, 3 %>

      <%= r.radio_button :rating, 4 %>
      <%= r.label :rating, 4 %>

      <%= r.radio_button :rating, 5 %>
      <%= r.label :rating, 5 %><br><br>
  
    <%= r.label :content %><br>
    <%= r.text_area :content, class: "text_area" %><br><br>

  <div class="actions">
    <%= f.submit "Add New Destination", class: "btn btn-lg btn-primary" %>
  </div>
  <% end %>
<% end %>

