<h1>New Destination</h1><br>

<%= form_for :destination, url: destinations_path do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>
  
  <%= f.label :region %>
  <%= f.text_field :region %><br>

  <%= f.label :country %>
  <%= f.text_field :country%><br>

  <%= f.submit %>

<% end %>