<p>
  <strong>Name:</strong>
  <%= @destination.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @destination.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<h2>Comments</h2>
<%= render @destination.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to "Edit Destination", edit_destination_path(@destination) %><br>
<%= link_to "Remove Destination", destination_path(@destination), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "See all destinations", destinations_path %>