<div class="container">
  <div class="row">
    <h1 class="show_headline">
    <%= @destination.name %>
    </h1>

    <div class="col-lg-4">
      <h3 class="show_subheading">
      <strong>Region:</strong>
      <%= @destination.region %>
      </h3>

      <h3 class="show_subheading">
      <strong>Country:</strong>
      <%= @destination.country %>
      </h3>
    </div>
  
    <div class="col-lg-4">
      <h3 class="show_subheading">Review</h3>
    </div>

    <div class="col-lg-4">
      <h3 class="show_subheading">Comments</h3>
      <%= render @destination.comments %>

      <h4>Add a comment:</h4>
      <%= render 'comments/form' %>
    </div>

<%= link_to "Edit Destination", edit_destination_path(@destination) %><br>
<%= link_to "Remove Destination", destination_path(@destination), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "See all destinations", destinations_path %>
</div>