<div class="review_index jumbotron">
  <h1>Top Picks</h1>
  <h3>Check out the top rated destinations</h3>
    <%= link_to 'Add New Destination', new_destination_path, class: "btn btn-lg btn-primary add_dest" %>
</div>
<div class="container">
  <h3>Not sure where you want to go?  Check out these 5 star destinations for some inspiration!</h3><br>

  <% @reviews.each do |review| %>
    <p><%= link_to review.destination.name, destination_path(review.destination), class: "dest_name" %>
    <div id="content-<%= review.id %>"><%= truncate review.content %></div><br>
    <button class="js-more btn btn-small btn-primary" data-id="<%= review.id %>">More ...</button>
    </p>  
  <% end %> 
  <br><br>

  <h3>Didn't see the right place above?  Here are all the destinations available.</h3><br>

    <% @destinations.each do |dest| %>
    <p class="country"><%= dest.country %><br></p>
    <p><%= link_to dest.name, destination_path(dest), class: "dest_name" %></p> 
  <% end %> 
</div>  
  
