<%= form_for @tip do |f| %>

  <%= render 'shared/error_message', object: @tip %>

  <%= f.label :name %>
  <%= f.text_field :name, :class => "text_field"  %><br><br><br>
  
 
  <%= f.label :content %><br>
  <%= f.text_area :content, :class => "text_area"  %><br><br>


  <div class="actions">
    <%= f.submit "Add Travel Tip", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>