  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Globetrotters", welcome_index_path, class: "nav-brand", id: "logo" %>
      <div class="nav_item">
        <%= link_to "Destinations", destinations_path, class: "navbar_links" %>
        <%= link_to "Reviews", reviews_path, class: "navbar_links" %>
        <%= link_to "Tips", tips_path, class: "navbar_links" %>
        
        <% if !user_signed_in? %>
          <%= link_to 'Signup', new_user_registration_path, class: "btn btn-lg btn-success", id: "signup" %> 
          <%= link_to 'Login', user_session_path, class: "btn btn-lg btn-info", id: "login" %> 
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary", id: "facebook_login" %>
        <% else %>
          <%= link_to 'Log Out', destroy_user_session_path,  :method => :delete, class: "btn btn-lg btn-warning", id: "logout" %> 
        <% end %>
      </div>
    </div>
  </header>