<!DOCTYPE html>
<html>
<head>
  <title>Globetrotters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Globetrotters", "", class: "btn btn-lg btn-success", id: "logo" %>
      <div class="nav_item">
        <%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
         <%= link_to "link 2", "", class: "btn btn-default btn-warning" %>
          <%= link_to "link 3", "", class: "btn btn-default btn-warning" %>
      </div>
    </div>
  </header>

<%= yield %>

</body>
</html>
