<!DOCTYPE html>
<html>
<head>
  <title>Globetrotters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render 'layouts/navigation' %>
    <%- flash.each do |name, msg| -%>
      <h3><%= content_tag :div, msg, :class => "error_explanation" if msg.is_a?(String) %></h3>
    <%- end -%> 

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
